$accent-color: #2D4F83;
$cyan-color: #00B886;

.Card-box {
    width: 15vw;
    background-color: $accent-color;
    height: 16vh;
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw 1vh 1vw;
}

.Card-container-1 {
  display: flex;
  background-color: $accent-color;
  align-items: center;
  padding: 1vh 1vw 1vh 1vw;
  height: 12vh;
}

.Card-container-1 p {
    margin: 0;
    color: #fff;
    text-align: start;
    font-weight: bold;
    font-size:  3vh;
}
  

.Card-container-2 {
    display: flex;
    background-color: $cyan-color;
    align-items: center;
    height: 4vh;
}

.Card-container-2 p{
    color: #fff;
}

.Card-footer {
    color: #fff;
    margin: 0 0 0 1vw;
    font-size: 2vh;
}

.Card-container-2 .Card-icon-2{
    margin-left: 2vw;
}


@media screen and (max-width: 1200px){
    .Card-container-1 p {
        font-size:  2vh;
    }

    .Card-footer {
        font-size: 1.5vh;
    }
    
}

@media screen and (max-width: 700px){
    .Card-container-1 p {
        font-size:  2vh;
    }

    .Card-footer {
        font-size: 1vh;
    }
    
}

@media screen and (max-width: 400px){
    .Card-container-1 p {
        font-size:  1.5vh;
    }

    .Card-footer {
        margin-left: 0.3vh;
        font-size: 0.3vh;
    }
}





