$gray-color : #8B8B8B;
$white-color: #ffffff;
.Box{
    width: 300px;
}

.Container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    height: 5vh;
}

.Container-1 input#search {
    width: 300px;
    height: 5vh;
    background: $white-color;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .Container-1 input#search::-webkit-input-placeholder {
    color: $gray-color;
 }
  
 .Container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: $gray-color;  
 }
  
 .Container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: $gray-color;  
 }
  
 .Container-1 input#search:-ms-input-placeholder {  
    color: $gray-color;  
 }


  .Container-1 svg {
      position: absolute;
      left: 1vw;
      opacity: 0.4;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $gray-color;
      z-index: 1;
  }