$primary-color: #1C2F57;
$accent-color: #2D4F83;

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 4vh;
  pointer-events: none;
}

.App-header {
  background-color: $primary-color;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-search {
  background-color: $accent-color;
  min-height: 7vh;
  padding: 0 10vw 0 10vw;
  display: flex;
  align-items: center;
  min-width: 100vw;
  justify-content: center;
  
}

.App-search-content {
  width: 68vw;
  padding-left: 2vw;
}

.App-content {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 68vw;
  padding-top: 3vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
